<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Control</title>
    <link rel="stylesheet" href="styleAdmin.css">
</head>
<body>
    <%-include("partials/header.ejs")%>
    <div class="BigForm-Cont"></div>
        <form method="post" class="admin-options">
        <div class="AdminInfo">
            <h4>All In Your Hands</h4>
            <h1>Admin System Control</h1>
            <p>An admin management dashboard is a centralized interface designed for administrators to
                 monitor, manage, and control various aspects of a system or organization</p>
        </div>
        <div class="AdminControlList">
            <a href="./ShowTeachers.html"></a>
            <input type="button" class="item" value="Student Control" onclick="window.location.href='/add-user';">
            <input type="button" class="item" value="View Registered Studetns" onclick="window.location.href='/registered-students';">
            <input type="button" class="item" value="View Registered Teachers" onclick="window.location.href='./ShowTeachers.html';">
        </div>
    </form>
    <div class="emptyTest" style="height: 300px; width: 100%;"></div>

    <%-include("partials/footer.ejs")%>

</body>
</html>