<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="faq.css">
</head>

<body>
    <%-include("partials/header.ejs")%>
    <div class="decore-section"></div>
    <div class="bigg-cont">
        
        <div class="search-bar">
            <h2>Get Help</h2>
            <div class="search-input">
                <img src="assets/search-icon.svg" alt="search icon" class="search-bar-icon">
                <input type="text" placeholder="FAQ, Videos, Documentation, and Forums" class="inner-search">
            </div>
        </div>
        <div class="Faq-cont">
            <div class="general">
                <h2>General</h2>
                <div class="ques-cont">
                    <div class="small-cont">
                        <p class="question">
                            <span><img src="assets/arrow.svg" alt=""></span>
                            What types of courses does GenZ Academy offer?
                        </p>
                        <p class="answer">
                            We offer a wide range of courses, including coding, graphic design,
                            artificial intelligence, entrepreneurship, and more. Each course is
                            designed to be interactive and engaging for young learners.
        
                        </p>
                    </div>
                    <div class="small-cont">
                        <p class="question">
                            <span><img src="assets/arrow.svg" alt=""></span>
                            Are classes offered online, or do I need to attend in-person?
        
                        </p>
                        <p class="answer">
                            We offer both online and in-person classes to fit your needs. You can
                            learn from the comfort of home or join us on our
                            campus for a more hands-on experience.
        
                        </p>
                    </div>
                    <div class="small-cont">
                        <p class="question">
                            <span><img src="assets/arrow.svg" alt=""></span>
                            Who is eligible to join GenZ Academy?
        
                        </p>
                        <p class="answer">
                            GenZ Academy welcomes students aged 14-16 who are eager
                            to learn and build new skills, regardless of previous experience.
        
                        </p>
                    </div>
                    <div class="small-cont">
                        <p class="question">
                            <span><img src="assets/arrow.svg" alt=""></span>
                            Do I need any prior knowledge to join a course?
                        </p>
                        <p class="answer">
                            No prior experience is required! Our courses
                            are structured to support beginners and build
                            up knowledge step-by-step, so everyone can follow along.
                        </p>
                    </div>
                    <div class="small-cont">
                        <p class="question">
                            <span><img src="assets/arrow.svg" alt=""></span>
                            How long do courses usually last?
        
                        </p>
                        <p class="answer">
                            Our courses range from 4 to 12 weeks, depending on
                            the topic and level. We balance length with focused
                            content to maximize learning and enjoyment.
        
                        </p>
                    </div>
                    <div class="small-cont">
                        <p class="question">
                            <span><img src="assets/arrow.svg" alt=""></span>
                            Will I receive a certificate after completing the course?
        
                        </p>
                        <p class="answer">
                            Yes, upon successful completion, you’ll
                            receive an official GenZ Academy certificate
                            to showcase your new skills!
        
                        </p>
                    </div>
                </div>
            </div>
            <div class="q-links">
                <h2>Quick Links</h2>
                <div class="q-link"><h4>Join the Community</h4>
                <p>get an easy access to a community server on discord</p></div>
                <div class="q-link"><h4>Read Documentation and Guides</h4>
                <p>easy always access to our online and offline educational sources</p></div>
                <div class="q-link"><h4>Hire An Expert</h4>
                <p>get an access to large number of experts in various courses</p></div>
            </div>
    
        </div>
    </div>
    

    <%-include("partials/footer.ejs")%>

</body>

</html>