<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VSMS</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="/node_modules/video.js/dist/video-js.css">
  <link rel="stylesheet" href="/node_modules/@videojs/themes/dist/city/index.css">
</head>

<body>
  <%-include("partials/header.ejs")%>
    <section class="shortReview">
      <div class="firstText">
        <p>Online management platform</p>
        <h1>An effective Management System</h1>
        <h4>Our goal is to make e-learning easier for student, teachers, and management staff</h4>
        <div class="button-container">
          <a href="#" class="btn btn-filled">Enroll Now</a>
          <a href="#about-uss" class="btn btn-outline">Learn More</a>
        </div>
      </div>

      <img src="assets/student.svg" alt="student" class="leftBoy">
    </section>

    <section class="benefits">
      <div class="BigContainer">
        <div class="leftCard">
          <h2>Dynamic Features for Students, Teachers, and Admins</h2>
          <p>Our versatile management platform is designed to streamline educational tasks, ensuring a seamless
            experience
            for all users while supporting effective school operations.</p>

        </div>
        <div class="Feat-container">
          <div class="top-Feat">
            <div class="feat">
              <img src="assets/scalability-icon.svg" alt="">
              <h3>Future-Ready Learning</h3>
              <p>Our platform grows with you, offering flexible options and support
                for students at every stage of high school
                to prepare them for college and beyond.</p>
            </div>
            <div class="feat">
              <img src="assets/ease-icon.svg" alt="">
              <h3>Seamless User Experience</h3>
              <p>The GenZ Academy interface is built for students and teachers,
                making it easy to access
                classes, assignments, and resources in just a few clicks.</p>
            </div>
          </div>

          <div class="low-Feat">
            <div class="feat">
              <img src="assets/setting-icon.svg" alt="">
              <h3>Custom Learning Paths</h3>
              <p>Personalize your learning journey with courses that match your
                interests and career goals, giving you a unique and engaging
                experience tailored to you.</p>
            </div>
            <div class="feat">
              <img src="assets/feat-icon.svg" alt="">
              <h3>Expand Your Skill Set</h3>
              <p>Explore a wide range of features and interactive courses that evolve
                with industry trends, ensuring you’re always learning relevant and valuable skills.</p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

    <section class="team">
      <div class="BigTeam">
        <div class="hero2">
          <img src="assets/hero2.png" alt="hero image girl studying">
        </div>
        <div class="ourTeam">
          <h2 class="header-our-team">Our Experts Team</h2>
          <p>Dedicated professionals working together to bridge the gap between complex scientific 
            concepts and practical learning applications: expert educators. </p>
          <a href="#">Learn More ></a>
        </div>
      </div>

    </section>

    <section class="feedback-rate">
      <div class="feedback-cont">
    
        <div class="feedback-text">
          <h2 class="header-why">Why Choose Us</h2>
          <p>Choose GenZ Academy for a hybrid approach that combines online flexibility with traditional offline learning.
             Our method empowers you to learn at your own pace with personalized support.
              Join us to reach your full potential!</p>
          <a href="#about-uss">Learn More ></a>
        </div>

        <div class="vid1">
          <video src="assets/vid1.mp4" autoplay muted  controls  playsinline class="responsive-video" poster="assets/thumnail.png">Your browser do not support video</video>
        </div>
      </div>

    </section>

    <section class="user-rating">
      <div class="container">
        <div class="txt-cont">
          <span>users feedback</span>
          <h2>Empowering Future Leaders: GenZ Academy</h2>
          <p>At GenZ Academy, we believe in nurturing the potential of every student aged 14-18. Our innovative
             programs and dedicated educators provide a dynamic learning environment where creativity and critical thinking flourish. We empower our students to become the leaders of
             tomorrow by equipping them with the skills and knowledge they need to succeed in an ever-evolving world.</p>
        </div>
        <div class="box-cont">
          <div class="ratbox">
            <h4>⭐⭐⭐⭐</h4>
            <h4>"Anspiring Experience!"</h4>
            <p>"GenZ Academy has completely transformed my son's approach to learning.
               The supportive environment and engaging curriculum have ignited his passion for education!"
            </p>
            <p>— Emily Johnson</p>
          </div>
          <div class="ratbox">
            <h4>⭐⭐⭐⭐⭐</h4>
            <h4>"A Place for Growth!"</h4>
            <p>"My daughter has thrived at GenZ Academy. The teachers genuinely care and 
              challenge her to reach her full potential. I couldn't be happier with her progress!"
            </p>
            <p>— Michael Smith</p>
          </div>
          <div class="ratbox">
            <h4>⭐⭐⭐⭐⭐</h4>
            <h4>"Innovative Learning!"</h4>
            <p>"The programs at GenZ Academy are unlike any other. They prepare students for real-world challenges 
              while fostering creativity and collaboration. Highly recommend!"
            </p>
            <p>— Sarah Davis</p>
          </div>
        </div>
      </div>
    </section>

    <section class="about-us" id="about-uss">
      <div class="cont">
        <div>
          <h2>About GenZ Academy</h2>
          <p>GenZ Academy is a forward-thinking educational platform designed specifically for today’s youth, 
            providing students aged 14-18 with the tools, guidance, and resources to excel in an evolving world. 
            Our mission is to bridge traditional learning with modern skills, offering courses that emphasize critical thinking, 
            innovation, and real-world applications. With expert instructors, interactive content, and a blend of online and offline resources, 
            GenZ Academy empowers students to learn at their own pace and thrive in 
            their academic and personal journeys. Join us to unlock your full potential, build confidence,
             and prepare for a successful future.</p>
        </div>
        <div>
          <img src="assets/genZ hero3.webp" alt="nice">
        </div>
      </div>
    </section>
    <%-include("partials/footer.ejs")%>

</body>

</html>