@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";

}
body{
    background-color: #26335d;
    position: relative;

}
.Faq-cont{
    display: flex;
    align-items: flex-start;
    margin: 10%;
    justify-content: center;
}
.Faq-cont h2{
    color: white;
    font-size: 40px;
}
.q-links {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.q-link {
    background: rgba(217, 217, 217, 0.65);
    border-radius: 10px;
    padding: 10px;
    width: 412px;
    height: 119px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}
/* .bigg-cont{
    display: flex;
    flex-direction: column;
    padding-top: 600px;
    height: 100vh;
    justify-content: center;
    align-items: center;
} */
body > div.bigg-cont > div.search-bar{
    padding-top: 259px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 242px;
    gap: 59px;
}
.bigg-cont .search-bar h2{
    font-size: 96px;
    color: white;
} 
body > div.bigg-cont > div.search-bar > div > img{
    position: absolute;
    width: 33px;
    top: 9px;
    left: 13px;
    z-index: 1;
    opacity: 33%;
    filter: brightness(.7);
}
body > div.bigg-cont > div.search-bar > div > input{
    width: 75dvh;
    border-radius: 10px;
    padding: 10px;
    padding-left: 55px;
    height: 56px;
    background: #D9D9D9;
    opacity: 75%;
    border: none;
    font-size: 16px;
}body > div.bigg-cont > div.search-bar > div > input:focus{
    outline: none;
}
.search-input {
    display: flex;
    position: relative;
}
.decore-section {
    width: 100%;
    height: 69dvh;
    background-image: linear-gradient(130deg, #354781 0%, #293763 17%, #0B0F1B 98%);
    position: absolute;
    z-index: -1;
    border-radius: 25px;
    background-size: 122%;
    animation: decore-anim .5s ease-in-out;
}
@keyframes decore-anim {
    from{
        background-size: 100%;
    }
    to{
        background-size: 122%;
    }
}
.ques-cont {
    display: flex;
    gap: 23px;
    margin: 70px;
    margin-top: 32px;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    flex-direction: column;
}
.small-cont{
    display: flex;
    flex-direction: column;
    width: 692px;
}

.question{
    font-weight: 600;
    display: flex;
    align-items: center;
}
.answer{
    font-weight: 300;
    display: none;
}

.title-line{
    width: 240px;
    border: solid white 3px;
    border-radius: 10px;
    border-color: #E74040;
    animation: titleAnimation 1s ;
}
@keyframes titleAnimation{
    0%{
        width: 0;
    }
    100%{
        width: 240px;
    }
}
.con-container{
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    gap: 31px;
    margin-top: 719.188px;
    margin-right: 146px;
}
.left-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-input{
    width: 350px;
    height: 50px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    font-family: "Montserrat";
    font-weight: 500;
}
.contact-input::placeholder{
    font-family: "Montserrat";
    color:rgb(167, 146, 118);
}
.contact-input:focus{
    border: 1px solid #E74040;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.message{
    height: 200px;
}
.submit{
    height: 50px;
    color: white;
    font-family: "Montserrat";
    border: none;
    border-radius: 10px;
    font-weight: 600;
    background-image:linear-gradient(to right, #2c799a, #26335d);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 1s ease;
}
  
.submit:hover {
    background-position: left;
    cursor: pointer;
}
.submit img{
    width: 20px;
}
.submit{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .right-card img{
      width: 0;
    }
    .con-container{
        padding: 10px;
    }
    .submit{
        background-image: none;
        background-color: #d9d2d21c;
        margin-top: 15px;
        width: 160px;
    }
    .submit:active{
        background-color: #E74040;
    }
  }

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  width: 12px; 
  
}


html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  width: 12px; 
  
}

html::-webkit-scrollbar-track, 
body::-webkit-scrollbar-track {
  background-color: transparent; 
  border-radius: 10px; 
}

html::-webkit-scrollbar-thumb, 
body::-webkit-scrollbar-thumb {
  background-color: #4a61aa;
  border-radius: 10px; 
  border: 3px solid transparent; 
  background-clip: padding-box; 
}
