@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #26335d;
    position: relative;
}
.right-card img{
    width: 500px;
    margin-bottom: 50px;
}
.title-design{
    font-family: "Montserrat";
    font-size: xxx-large;
    margin-bottom: 51px;
    color: white;
}

.title-line{
    width: 240px;
    border: solid white 3px;
    border-radius: 10px;
    border-color: #E74040;
    animation: titleAnimation 1s ;
}
@keyframes titleAnimation{
    0%{
        width: 0;
    }
    100%{
        width: 240px;
    }
}
.con-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    gap: 90px;
}
.left-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-input{
    width: 350px;
    height: 50px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    font-family: "Montserrat";
    font-weight: 500;
}
.contact-input::placeholder{
    font-family: "Montserrat";
    color:rgb(167, 146, 118);
}
.contact-input:focus{
    border: 1px solid #E74040;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.message{
    height: 200px;
}
.submit{
    height: 50px;
    color: white;
    font-family: "Montserrat";
    border: none;
    border-radius: 10px;
    font-weight: 600;
    background-image:linear-gradient(to right, #2c799a, #26335d);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 1s ease;
}
  
.submit:hover {
    background-position: left;
    cursor: pointer;
}
.submit img{
    width: 20px;
}
.submit{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .right-card img{
      width: 0;
    }
    .con-container{
        padding: 10px;
    }
    .submit{
        background-image: none;
        background-color: #d9d2d21c;
        margin-top: 15px;
        width: 160px;
    }
    .submit:active{
        background-color: #E74040;
    }
  }
  html::-webkit-scrollbar, 
  body::-webkit-scrollbar {
    width: 12px; 
    
  }
  
  
  html::-webkit-scrollbar, 
  body::-webkit-scrollbar {
    width: 12px; 
    
  }
  
  html::-webkit-scrollbar-track, 
  body::-webkit-scrollbar-track {
    background-color: transparent; 
    border-radius: 10px; 
  }
  
  html::-webkit-scrollbar-thumb, 
  body::-webkit-scrollbar-thumb {
    background-color: #4a61aa;
    border-radius: 10px; 
    border: 3px solid transparent; 
    background-clip: padding-box; 
  }
  