@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*{
    font-family: "Montserrat";
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color: #26335d;
}
.AdminControlList{
    list-style: none;
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
}
.admin-options{
    margin: 0 10%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 30px;
}
.admin-options .AdminInfo{
    width: 860px;
    margin-right: inherit;
}
.admin-options .AdminInfo p{
    color: rgba(220, 220, 220, 220.95);
    font-weight: 300;

}
.admin-options .AdminInfo h4{
    color: #8D5CF6;
    font-weight: 600;
}   
.AdminControlList .item{
    background-color: #ffffffd9;
    width: 300px;
    height: 250px;
    border: solid #d9d2d21c;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.AdminControlList .item{
    color: rgba(0, 0, 0,0.90);
    text-decoration: none;
    font-weight: 700;
    font-size: larger;
}
.AdminControlList .item:hover{
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(-20px);
    cursor: pointer;
}
html, body {
    overflow: auto;
    scrollbar-width: none; 
  }
  
  html::-webkit-scrollbar, 
  body::-webkit-scrollbar {
    display: none;
  }
@media (max-width:990px) {
    .AdminControlList{
        flex-direction: column;
    }
    .AdminControlList .item:hover{
        transform: scale(1.1);
    }
    .admin-options .AdminInfo {
        width: 80%;
    }
    .AdminControlList .item{
        height: 150px;
    }
}