@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*{
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #26335d;
}
.stdnt-input{
    width: 250px;
    height: 40px;
    padding: 10px;
    margin: 5px;
    outline: none;
    border: none;
    border-radius: 10px;
    
}
#admin-StudentForm > label{
    color: white;
}
#admin-StudentForm{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-cont{
    padding: 15px;
}
.sub-cont input{
    background-color: #2c799a;
    color: white;
    padding: 15px;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;    
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.sub-cont input:active{
    background-color: #225d75;
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.sub-cont input:hover{
    transform: translateY(-5px);
}
.BigForm-Cont{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid #d9d2d21c;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 10px 10px 0 10px;
    height: 500px;
    z-index: -100;
}
#delete{
    background-color: #E74040;
}